<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Eliminación</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container_delete">
        <h1>Confirmar Eliminación</h1>
        <div class="delete-info">
            <p class="warning-message">¿Está seguro que desea eliminar este profesor?</p>
            <div class="profesor-details">
                <p><strong>Sigla:</strong> {{ profesor.sigla }}</p>
                <p><strong>Nombre:</strong> {{ profesor.nombreProfesor }} {{ profesor.apellidoPaterno }} {{ profesor.apellidoMaterno }}</p>
                <p><strong>Cédula:</strong> {{ profesor.cedulaProfesor }}</p>
                
            </div>
        </div>
        <form method="POST" class="delete-form">
            {% csrf_token %}
            <div class="form-actions">
                <button type="submit" class="delete-btn">Confirmar Eliminación</button>
                <a href="{% url 'lista_profesores' %}" class="cancel-btn">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>