<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulación</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
</head>
<body>
    <div class="alert">
        Ya has respondido. Solo puedes reiterar este formulario una vez.
        <br>
        Ponte en contacto con el propietario del formulario si crees que se trata de un error.
    </div>
    <div class="container">
        <h1>Tus datos han sido guardados</h1>
        <p>¡Gracias!</p>
    </div>
</body>

</html>