<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Profesores</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container_list">
        <h1>Lista de Profesores</h1>
            <input type="text" name="query" value="{{ query }}" placeholder="Buscar por nombre o cédula..." class="input-buscar">
            <button type="submit" class="buscar-btn">Buscar</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Sigla</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Cédula</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for profesor in profesores %}
                <tr>
                    <td>{{profesor.sigla}}</td>
                    <td>{{ profesor.nombreProfesor }}</td>
                    <td>{{ profesor.apellidoPaterno }}</td>
                    <td>{{ profesor.apellidoMaterno }}</td>
                    <td>{{ profesor.cedulaProfesor }}</td>
                    <td><a href="{% url 'update_profesor' profesor.pk %}">Modificar</a></td>
                    <td><a href="{% url 'delete_profesor' profesor.pk %}">Eliminar</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">No se encontraron resultados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'agregar_profesor' %}" class="crear-btn">Agregar Nuevo Profesor</a>

    </div>
</body>

</html>