<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulaciones</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container_list">
        <h1>Lista de Alumnos</h1>
        <form method="GET" action="{% url 'titulacion_list' %}" class="form-buscar">
            <input type="text" name="q" value="{{ query }}" placeholder="Buscar por nombre, correo, matrícula..." class="input-buscar">
            <button type="submit" class="buscar-btn">Buscar</button>
        </form>
        <a href=" " class="crear-btn">Crear Nueva Titulación</a>
        <table class="titulacion-table">
            <thead>
                <tr>
                   
                    <th>Correo</th>
                    <th>Matrícula</th>
                    <th>Nombres</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Carrera</th>
                    <th>Edad</th>
                    <th>Promedio</th>
                    <th>Nombre del Proyecto</th>
                    <th>Asesor</th>
                    <th>Nombre del Revisor 1</th>
                    <th>Nombre del Revisor 2</th>
                    <th>Archivo</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for titulacion in titulaciones %}
                <tr>
                    <td>{{ titulacion.correo }}</td>
                    <td>{{ titulacion.matricula }}</td>
                    <td>{{ titulacion.nombre }}</td>
                    <td>{{ titulacion.apellido_paterno }}</td>
                    <td>{{ titulacion.apellido_materno }}</td>
                    <td>{{ titulacion.carrera }}</td>
                    <td>{{ titulacion.edad }}</td>
                    <td>{{ titulacion.promedio }}</td>
                    <td>{{ titulacion.nombre_del_proyecto }}</td>
                    <td>{{ titulacion.asesor }}</td>
                    <td>{{ titulacion.nombre_del_revisor_1 }}</td>
                    <td>{{ titulacion.nombre_del_revisor_2 }}</td>
                    <td><a href="{{ titulacion.archivo.url }}">Descargar</a></td>
                    <td><a href="{% url 'update_titulacion' titulacion.pk %}">Modificar</a></td>
                    <td><a href="{% url 'delete_titulacion' titulacion.pk %}">Eliminar</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="15">No se encontraron resultados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
     
        
    </div>
</body>
</html>