<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Titulacion </title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
   
</head>
<body>
    <div class="container">
        <h1>Formulario Para Titulación</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Enviar"> </form>
        </form>

    </div>
</body>

</html>